* {
		base00: #612637;
		base01: #4d3524;
		base02: #c5814e;
		base03: #ad6027;
		base04: #c4617c;
		base05: #4d3524;
		base06: #db945f; 
		base07: #d7718c;
		base08: #5b412f;
		base09: #dd8da0;
		base0A: #c5814e;
		base0B: #4d3524CC;
 		base0C: #9c7d68;
		base0D: #ad6027;
		base0E: #6b1c36;
		base0F: #c77a8d;
		back: #ffcfb0CC;
		selected: #6b1c36CC;
		spacing: 0;
		background-color: transparent;
}
