:root {

    --background: #191113;

    --error: #ff5449;

    --error_container: #7b0007;

    --inverse_on_surface: #6e6163;

    --inverse_primary: #b56b7d;

    --inverse_surface: #efdee0;

    --on_background: #6b5f61;

    --on_error: #5c0003;

    --on_error_container: #ff7d70;

    --on_primary: #6e3142;

    --on_primary_container: #dd8da0;

    --on_primary_fixed: #ffadc0;

    --on_primary_fixed_variant: #d9899d;

    --on_secondary: #3b2329;

    --on_secondary_container: #bf9ba2;

    --on_secondary_fixed: #e1bac2;

    --on_secondary_fixed_variant: #bb979e;

    --on_surface: #ae9fa1;

    --on_surface_variant: #907f82;

    --on_tertiary: #3f2304;

    --on_tertiary_container: #c79c72;

    --on_tertiary_fixed: #eabb8f;

    --on_tertiary_fixed_variant: #c3986e;

    --outline: #5f5053;

    --outline_variant: #443739;

    --primary: #c77a8d;

    --primary_container: #612638;

    --primary_fixed: #7d3d4e;

    --primary_fixed_dim: #612638;

    --scrim: #000000;

    --secondary: #ab888f;

    --secondary_container: #4d3339;

    --secondary_fixed: #66494f;

    --secondary_fixed_dim: #4d3339;

    --shadow: #000000;

    --source_color: #6a3342;

    --surface: #191113;

    --surface_bright: #413738;

    --surface_container: #261d1f;

    --surface_container_high: #312829;

    --surface_container_highest: #3c3234;

    --surface_container_low: #22191b;

    --surface_container_lowest: #140c0e;

    --surface_dim: #191113;

    --surface_tint: #ffb1c3;

    --surface_variant: #514346;

    --tertiary: #b28960;

    --tertiary_container: #523312;

    --tertiary_fixed: #6c4a27;

    --tertiary_fixed_dim: #523312;



    --background_rgb: 25 17 19;

    --error_rgb: 255 84 73;

    --error_container_rgb: 123 0 7;

    --inverse_on_surface_rgb: 110 97 99;

    --inverse_primary_rgb: 181 107 125;

    --inverse_surface_rgb: 239 222 224;

    --on_background_rgb: 107 95 97;

    --on_error_rgb: 92 0 3;

    --on_error_container_rgb: 255 125 112;

    --on_primary_rgb: 110 49 66;

    --on_primary_container_rgb: 221 141 160;

    --on_primary_fixed_rgb: 255 173 192;

    --on_primary_fixed_variant_rgb: 217 137 157;

    --on_secondary_rgb: 59 35 41;

    --on_secondary_container_rgb: 191 155 162;

    --on_secondary_fixed_rgb: 225 186 194;

    --on_secondary_fixed_variant_rgb: 187 151 158;

    --on_surface_rgb: 174 159 161;

    --on_surface_variant_rgb: 144 127 130;

    --on_tertiary_rgb: 63 35 4;

    --on_tertiary_container_rgb: 199 156 114;

    --on_tertiary_fixed_rgb: 234 187 143;

    --on_tertiary_fixed_variant_rgb: 195 152 110;

    --outline_rgb: 95 80 83;

    --outline_variant_rgb: 68 55 57;

    --primary_rgb: 199 122 141;

    --primary_container_rgb: 97 38 56;

    --primary_fixed_rgb: 125 61 78;

    --primary_fixed_dim_rgb: 97 38 56;

    --scrim_rgb: 0 0 0;

    --secondary_rgb: 171 136 143;

    --secondary_container_rgb: 77 51 57;

    --secondary_fixed_rgb: 102 73 79;

    --secondary_fixed_dim_rgb: 77 51 57;

    --shadow_rgb: 0 0 0;

    --source_color_rgb: 106 51 66;

    --surface_rgb: 25 17 19;

    --surface_bright_rgb: 65 55 56;

    --surface_container_rgb: 38 29 31;

    --surface_container_high_rgb: 49 40 41;

    --surface_container_highest_rgb: 60 50 52;

    --surface_container_low_rgb: 34 25 27;

    --surface_container_lowest_rgb: 20 12 14;

    --surface_dim_rgb: 25 17 19;

    --surface_tint_rgb: 255 177 195;

    --surface_variant_rgb: 81 67 70;

    --tertiary_rgb: 178 137 96;

    --tertiary_container_rgb: 82 51 18;

    --tertiary_fixed_rgb: 108 74 39;

    --tertiary_fixed_dim_rgb: 82 51 18;

}